<div class="video-container">
    <video autoplay muted loop id="myVideo">
      <source src="/images/abstract.mp4" type="video/mp4" />
    </video>
    <div class="transparent-bg"></div>
  </div>
  <div class="container">
    <h1 id="title-initial">LISTA DE DISCIPLINAS</h1>
    <!-- <img class="img-logo-home" width="200" src="/images/logo-nr-w.png" alt=""> -->
  </div>
  <div class="container">
    <div class="card">
      <h1 style="font-family: monospace;
      background: -webkit-linear-gradient(312deg, #00fff4 0%, #70f4a7 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: -1px 4px 2px #1d1b1b4f;
">Cloud Computing</h1>
      <br />
      <img
        src="https://sidechainsecurity.com/wp-content/uploads/2021/06/Cloud-based-HSM-as-a-service-onboarding.png"
        alt="Imagem"
        class="card-img"
      />
      <div
        style="
          position: absolute;
          bottom: 0;
          width: 100%;
          margin-bottom: 28px;
          margin-left: -14px;
        "
      >
        <button onclick="getPageCloud()" class="btn btn-material">
          Material
        </button>
        <button class="btn btn-simulado">Simulado</button>
      </div>
    </div>
    <div class="card">
      <h1 style="font-family: monospace;
      background: -webkit-linear-gradient(312deg, #00fff4 0%, #70f4a7 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: -1px 4px 2px #1d1b1b4f;
">Sistemas Distribuídos</h1>
      <br />
      <img
        src="https://www.pngkit.com/png/full/272-2722152_are-you-looking-for-network-server-or-computer.png"
        alt="Imagem"
        class="card-img"
      />
      <div
        style="
          position: absolute;
          bottom: 0;
          width: 100%;
          margin-bottom: 28px;
          margin-left: -14px;
        "
      >
        <button onclick="getPageSisDis()" class="btn btn-material">
          Material
        </button>
        <button class="btn btn-simulado">Simulado</button>
      </div>
    </div>
    <div class="card">
      <h1 style="    font-family: monospace;
      background: -webkit-linear-gradient(312deg, #00fff4 0%, #70f4a7 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: -1px 4px 2px #1d1b1b4f;
">Devops e Gerência</h1>
      <br />
      <img
        id="devops-img"
        style="height: 35%"
        src="https://technology.pl-inetum.group/wp-content/uploads/2020/11/cykl-devops-cycle-768x394.png"
        alt="Imagem"
        class="card-img"
      />
      <div
        style="
          position: absolute;
          bottom: 0;
          width: 100%;
          margin-bottom: 28px;
          margin-left: -14px;
        "
      >
        <button onclick="getPageDevops()" class="btn btn-material">
          Material
        </button>
        <button class="btn btn-simulado">Simulado</button>
      </div>
    </div>
  </div>
  <br />
  <div style="    display: flex;
  flex-direction: column;
  align-items: center;" class="container">
    <h1 id="title-initial">HENNING SUMMER</h1>
    <img class="img-logo-home" width="200" src="/images/logo-nr-w.png" alt="">
  </div>